body {
    font-family: 'Vazirmatn', sans-serif;
    font-size: larger;
    font-weight: 300;
    background-color: #393a3c;
  }
  h1 {
    color: rgb(183, 3, 3);
  }
  .ozLogo {
    
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
  }

  .left-buttons {
      width: 95%;
      margin: 16%;
      background-color: black;
      padding: 2%;
      color: white;
      border-radius: 10px;
  }

  .alignr {
float: right;
text-align: right;
width: 65%;
  }

  .alignl {
float: left;
text-align: left;
width: 35%;
  }

  #menu {
    /* font-family: 'Noto Nastaliq Urdu', serif; */
      background-color: black;
      color: white;
      width: 50%;
      border-radius: 10px;
      padding: 3%;
      margin: 3%;
  }

  #pay {
      font-size: medium;
  } 

  .map {
    padding: 5px;
    background-color: black;  
    margin: 3%;  
    width: auto;
    height: 65%;
    border-radius: 10px;
}