

body {
    background-size: 100%;
    font-family: 'Vazirmatn', sans-serif;
    font-size: larger;
    font-weight: 300;
    /* background-color: #393a3c; */
    background-image: url('../images/Untitled\ design\ \(1\).jpg');
  }
  h1 {
    color: rgb(183, 3, 3);
  }
  .ozLogo {
    
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
  }

  .left-buttons {
      width: 35%;
      margin: 5%;
      background-color: black;
      padding: 2%;
      color: white;
      border-radius: 10px;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .details {
      font-size: small;
  }

  .alignr {
float: right;
text-align: right;
width: 75%;
  }

  .alignl {
float: left;
text-align: left;
width: 25%;
  }

  #menu {
    /* font-family: 'Noto Nastaliq Urdu', serif; */
      background-color: black;
      color: white;
      width: 80%;
      border-radius: 10px;
      padding: 3%;
      margin: 3%;
  }

  .map {
    padding: 5px;
    background-color: black;  
    margin: 3%;  
    width: auto;
    height: 65%;
    border-radius: 10px;
}